# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
.env
.envrc
*.env

# Flask-specific files
instance/
*.log
*.pid
*.coverage
.coverage.*
nosetests.xml
pytest_cache/
.cache/
dist/
build/

# IDE-specific
.vscode/
.idea/
.DS_Store
migrations/